* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

#root{
  background-image: url('/background.jpg');
  background-clip: border-box;
  background-size: cover;
  background-color: #112240;
}

.mainContainer{
  min-width: 100vw;
  min-height: 100vh;
}
