.startButtonContainer{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF5E54;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 100px;
    top: 10px;
}

.startButton{
    transform: scale(0.4);
}

.volumeContainer{

}